download/
windows/x86/DigitalNote-2
windows/x86/libs
windows/x86/temp
windows/x64/DigitalNote-2
windows/x64/libs
windows/x64/temp
linux/x86/DigitalNote-2
linux/x86/libs
linux/x86/temp
linux/x64/DigitalNote-2
linux/x64/libs
linux/x64/temp
linux/aarch64/DigitalNote-2
linux/aarch64/libs
linux/aarch64/temp
linux/aarch64/config